---
import Layout from "./Layout.astro";
import MainHeader from "../components/layout/headers/MainHeader.astro";
import BlogHeader from "../components/layout/headers/BlogHeader.astro";
import Footer from "../components/layout/Footer.astro";
const { frontmatter } = Astro.props;
---
<Layout>
    <MainHeader slot="headers" />
    <BlogHeader slot="headers" />
    
    <h1 class="font-bold text-5xl">{frontmatter.title}</h1>

    <div id="tags" class="flex gap-2 items-center">
        {frontmatter.tags.map((tag: string) => (
            <p><a id="tag" class="nh" href={`/tags/${tag}/`}>#{tag}</a></p>
        ))}
    </div>

    <p><em>{frontmatter.description}</em></p>
    <p>by {frontmatter.author} | {frontmatter.pubDate.toLocaleDateString()}</p>
    <p></p>

    <img class="rounded-xl mt-1" src={frontmatter.image.url} width="320" alt={frontmatter.image.alt} />
    <p class="my-2 italic">image credit: <a target="_blank" href={frontmatter.image.url}>link</a></p>
    <hr class="my-3 border-solid border-2 rounded-full border-white/60">
    <div id="mdContent">
        <slot />
    </div>
    <Footer slot="footer" />
</Layout>